:root {
  --text-color: #333;
  --primary-color: #fff;
  --secondary-color: #fbfbfb;
  --border-color: #e7e8e8;
  --post-border-color: #CCCCCC;
  --blue: #0099ff;
  --orange: #fc8210;
  --canvas-color: #f4f4f4;
  --success-color:#2ecc71;
  --error-color:#e74c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #fff;
  color: var(--text-color);
  background: var(--canvas-color);
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

p {
  font-size: 1.2rem;
}

.no-display {
  display: none !important;
}

.hide-scrollbar {
  overflow-y: hidden !important;
}

.bold {
  font-weight: bold;
}

.post-card, .post-classic, .post-compact {
  width: 100%;
  background: var(--primary-color);
  border: 1px solid var(--post-border-color);
  border-radius: 5px;
  transition: border-color 0.25s ease;
}

.post-card:hover,
.post-classic:hover,
.post-compact:hover {
  border-color: var(--text-color);
  cursor: pointer;
}

.rating {
  background-color: #f1f1f1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rating i {
  padding: 0.25rem;
}

.rating i:hover {
  background: #ccc;
  color: var(--blue);
}

/* Utility classes */
.container {
  max-width: 1100px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00acee;
}

.fa-vk {
  color: #4c75a3;
}

.fa-github {
  color: #211F1F;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 0.25rem 0.75rem;
  transition: all 0.35s ease;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  font-size: 1.1rem;
}

.box {
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 4px
}

.box-trend {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  margin-right: 10px;

}

.box-trend:before {
  border-radius: 5px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/post.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.box-dark {
  background-color: #333;
  color: #fff;
}

.box-light {
  background-color: #fff;
  color: #333;
}

.btn-dark {
  background: var(--text-color);
  color: var(--primary-color);
}

.btn-light {
  background: var(--primary-color);
  color: var(--text-color);
}

.btn-blue {
  background: var(--blue);
  border: 1px solid var(--blue);
  color: #fff;
}

.btn-orange {
  background: var(--orange);
  color: #fff;
}

.dropdown {
  position: absolute !important;
  width: 200px;
  background: #fff;
  right: 0;
  top: 52px;
}

.dropdown ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.75rem;
}

.dropdown ul li i {
  margin-right: 10px;
}

.dropdown ul li a:hover {
  background: #f4f4f4;
}

.current {
  background: #333;
  color: #fff;
  cursor: default;
}


/* Navbar */
#main-nav {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: sticky;
  border-bottom: 1px solid var(--border-color);
  top: 0;
  z-index: 3;
  transition: all 0.3s ease-in 0s;
}

#main-nav .logo-wrapper {
  padding: 0px 20px;
  border-right: 1px solid var(--border-color);
  height: 100%;
}

#main-nav .logo-wrapper .logo {
  width: 70px;
  cursor: pointer;
}

#main-nav .search {
  position: relative;
  flex-grow: 0.5;
  margin-left: 5px;
}

#main-nav .search input {
  width: 100%;
  padding: 0.25rem;
  border-radius: 3px;
  border: 1px solid var(--text-color);
  padding-left: 45px;
  font-size: 1.3rem;
  background: var(--canvas-color);
}

#main-nav .search i {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 1.3rem;
  z-index: 1;
  color: #fff;
}

#main-nav .search:before {
  content: "";
  height: 100%;
  width: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #777;
  z-index: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#main-nav .list {
  display: flex;
}

#main-nav .list li:last-child {
  position: relative;
}

#main-nav .list > li {
  padding: 0 0.35rem;
}

#main-nav .list .signup:hover{
  opacity: 0.6;
}

#main-nav .list .user {
  border: 1px solid var(--primary-color);
}

#main-nav .list .user:hover {
  border: 1px solid var(--border-color);
}

#main-nav .list .user i {
  margin-left: 5px;
}

#main-nav .list li:last-child a {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Trends */
#trends .box-trend-wrapper {
  display: flex;
  justify-content: space-between;
}

#trends .box-trend {
  color: #000;
}

/* Popular posts */

/* Controls */
#popular-posts .controls {
  padding: 0.75rem;
  background: var(--primary-color);
  border: 1px solid var(--post-border-color);
  border-radius: 5px;
}


#popular-posts .controls {
  display: flex;
  justify-content: space-between;
}

#popular-posts .controls > ul {
  display: flex;
}

#popular-posts .controls .dropdown {
  top: 47px;
  right: -12px;
}

#popular-posts .controls ul:last-child li:last-child {
  display: none;
}

#popular-posts .controls ul:last-child li:last-child {
  position: relative;
}

#popular-posts .controls > ul > li {
  margin-left: 5px;
}

/* Posts */
a.community, a.posted-by {
  border-bottom: 1px transparent solid;
  transition: border-bottom 0.15s ease;
}

a.community:hover, a.posted-by:hover {
  border-bottom: 1px solid var(--text-color);
}

a.comments-link:hover {
  background-color: #f4f4f4;
}

/* post-card && post-classic && post-compact */
#popular-posts .post-card,
#popular-posts .post-classic,
#popular-posts .post-compact {
  display: grid;
  grid-template-columns: 5% 95%;
  margin-bottom: 40px;
}

#popular-posts .post-card .rating,
#popular-posts .post-classic .rating,
#popular-posts .post-compact .rating {
  padding-top: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#popular-posts .post-card .post-content .post-info p,
#popular-posts .post-classic .post-content .post-info p, 
#popular-posts .post-compact .post-content .post-info p {
  margin-left: 5px;
  font-size: 0.75rem;
}

#popular-posts .post-card .post-content .post-info p:first-child,
#popular-posts .post-classic .post-content .post-info p:first-child,
#popular-posts .post-compact .post-content .post-info p:first-child {
  margin-left: 0;
}

#popular-posts .post-card .post-content img,
#popular-posts .post-classic .post-content img,
#popular-posts .post-compact .post-content img {
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

#popular-posts .post-card .post-content .comments i, 
#popular-posts .post-card .post-content .comments a,
#popular-posts .post-classic .post-content .comments i, 
#popular-posts .post-classic .post-content .comments a,
#popular-posts .post-compact .post-content .comments i, 
#popular-posts .post-compact .post-content .comments a {
  font-size: 0.75rem;
}

#popular-posts .post-card .post-content .comments a,
#popular-posts .post-classic .post-content .comments a,
#popular-posts .post-compact .post-content .comments a {
  padding: 0.25rem;
  transition: background-color 0.15s ease;
}

#popular-posts .post-card .post-content .comments p,
#popular-posts .post-classic .post-content .comments p,
#popular-posts .post-compact .post-content .comments p {
  margin-left: 5px;
}

#popular-posts .post-classic .post-content .comments,
#popular-posts .post-compact .post-content .comments {
  display: flex;
  align-items: center;
}

#popular-posts .post-classic .post-content .post-info,
#popular-posts .post-compact .post-content .post-info {
  grid-area: info;
}

#popular-posts .post-classic .post-content .post-title,
#popular-posts .post-compact .post-content .post-title {
  grid-area: title;
}

#popular-posts .post-classic .post-content .comments,
#popular-posts .post-compact .post-content .comments {
  grid-area: comments;
}

#popular-posts .post-classic .post-content,
#popular-posts .post-compact .post-content {
  grid-gap: 5px;
}

/* Post card */
#popular-posts .controls .btn-blue {
  border: 1px solid var(--text-color);
}

#popular-posts .post-card .post-content .post-info {
  display: flex;
  padding: 0.75rem 0 0 0.75rem;
  margin-bottom: 10px;
}

#popular-posts .post-card .post-content .post-title {
  padding: 0 0.75rem;
  margin-bottom: 20px;
}

#popular-posts .post-card .post-content .comments {
  padding: 0.75rem;
  display: flex;
  align-items: center;
}

/* Post classic */
#popular-posts .post-classic {
  margin-bottom: 10px;
}

#popular-posts .post-classic .rating {
  justify-content: center;
}

#popular-posts .post-classic .rating {
  padding: 0.50rem 0;
}

#popular-posts .post-classic .post-content {
  padding: 0.25rem;
}

#popular-posts .post-classic .post-content img {
  grid-area: img;
  align-self: start;
  padding-top: 5px;
}

#popular-posts .post-classic .post-content .post-info {
  display: flex;
}

#popular-posts .post-classic .post-content {
  display: grid;
  grid-template-columns: 0.5fr repeat(4, 1fr);
  grid-template-areas:
  "img info info info info"
  "img title title title title"
  "img comments comments comments comments";
}

/* Post compact */
#popular-posts .post-compact .post-content {
  display: grid;
  grid-template-areas:
  "info"
  "title"
  "comments";
}

#popular-posts .post-compact .post-content {
  padding: 5px 0 5px 10px;
}
#popular-posts .post-compact .post-content img {
  display: none;
}

#popular-posts .post-compact .rating {
  padding: 0.25rem;
  justify-content: center;
}

#popular-posts .post-compact {
  margin-bottom: 5px;
}


/* Login Form / Sign up Form */
.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control {
  position: relative;
  padding-bottom: 20px;
}

.form-control.success input {
  border-color: var(--success-color) !important;
}

.form-control.error input {
  border-color: var(--error-color) !important;
}

.form-control input:focus {
  outline: 0;
  border-color: var(--post-border-color);
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control.error small {
  visibility: visible;
}

#login, #signup {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: rgba(0,0,0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#login .content-wrapper, #signup .content-wrapper {
  background: #fff;
  display: grid;
  grid-template-columns: 20% 75% 5%;
  max-width: 90%;
  width: 600px;
  border-radius: 10px;
}

#login .content-wrapper .background-image,
#signup .content-wrapper .background-image {
  background: url("../img/post.jpg") no-repeat center center;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#login a i,
#signup a i {
  color: var(--text-color);
}

#login .content-wrapper > a,
#signup .content-wrapper > a {
  padding: 0.15rem;
  justify-self: end;
  align-self: start;
}

#login .content-wrapper > a i,
#signup .content-wrapper > a i {
  font-size: 2rem;
}

#login-form,
#signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1rem 0 1rem 1rem;
}

#login-form .form-control,
#signup-form .form-control {
  width: 100%;
}

#login-form input, #signup-form input {
  font-size: 1.2rem;
  padding: 0.75rem;
  border-radius: 3px;
  border: 2px solid var(--post-border-color);
  width: 90%;
}

#login-form > p,
#signup-form > p {
  font-size: 0.85rem;
}

#login-form > p a,
#signup-form > p a {
  color: var(--blue);
  text-transform: uppercase;
}

#login-form button,
#signup-form button {
  width: 90%;
  height: 50px
}

#login-form button:hover,
#signup-form button:hover {
  opacity: 0.8;
}


/* Footer */
#main-footer {
  padding: 0.25rem;
  font-size: 0.7rem;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--text-color);
}