:root {
  --text-color: #333;
  --primary-color: #fff;
  --secondary-color: #fbfbfb;
  --border-color: #e7e8e8;
  --post-border-color: #CCCCCC;
  --blue: #0099ff;
  --orange: #fc8210;
  --canvas-color: #f4f4f4;
  --success-color:#2ecc71;
  --error-color:#e74c3c;
  --blog-canvas-width: 1280px;
  --popup-duration: 0.6s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #fff;
  color: var(--text-color);
  background: var(--canvas-color);
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

p {
  font-size: 1.2rem;
}

input[type="file"] {
  display: none;
}

.no-display {
  display: none !important;
}

.hide-scrollbar {
  overflow-y: hidden !important;
}

.bold {
  font-weight: bold;
}

.line {
  width: 100%;
  margin: auto;
  border-bottom: 1px solid var(--post-border-color);
  margin-bottom: 10px;
}

.post-card, .post-classic, .post-compact {
  width: 100%;
  background: var(--primary-color);
  border: 1px solid var(--post-border-color);
  border-radius: 5px;
  transition: border-color 0.25s ease;
}

.post-card:hover,
.post-classic:hover,
.post-compact:hover {
  border-color: var(--text-color);
  cursor: pointer;
}

.rating {
  background-color: #f1f1f1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rating i {
  padding: 0.25rem;
  transition: all 0.25s ease;
}

.rating i:hover {
  background: #ccc;
  color: var(--blue);
  cursor: pointer;
}

/* Utility classes */
.container {
  max-width: 1100px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00acee;
}

.fa-vk {
  color: #4c75a3;
}

.fa-github {
  color: #211F1F;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 0.25rem 0.75rem;
  transition: all 0.35s ease;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  font-size: 1.1rem;
}

.box {
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 4px
}

.box-trend {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  margin-right: 10px;
}

.community-image-big {
  width: 100px;
  height: 100px;
}

.community-image {
  width: 50px;
  height: 50px;
}

.community-image-small {
  width: 35px;
  height: 35px;
}

.community-image-big, .community-image, .community-image-small {
  border-radius: 50%;
}

.box-trend:before {
  border-radius: 5px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/post.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.box-dark {
  background-color: #333;
  color: #fff;
}

.box-light {
  background-color: #fff;
  color: #333;
}

.btn-dark {
  background: var(--text-color);
  color: var(--primary-color);
}

.btn-light {
  background: var(--primary-color);
  color: var(--text-color);
}

.btn-blue {
  background: var(--blue);
  border: 1px solid var(--blue);
  color: #fff;
}

.btn-orange {
  background: var(--orange);
  color: #fff;
}

.dropdown {
  position: absolute !important;
  width: 200px;
  background: #fff;
  right: 0;
  top: 52px;
}

.dropdown ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.75rem;
}

.dropdown ul li i {
  margin-right: 10px;
}

.dropdown ul li a:hover {
  background: #f4f4f4;
}

.current {
  background: #333;
  color: #fff;
  cursor: default;
}


/* Navbar */
#main-nav {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: sticky;
  border-bottom: 1px solid var(--border-color);
  top: 0;
  z-index: 3;
}

#main-nav .logo-wrapper {
  padding: 0px 20px;
  border-right: 1px solid var(--border-color);
  height: 100%;
}

#main-nav .logo-wrapper .logo {
  width: 70px;
  cursor: pointer;
}

#main-nav .search {
  position: relative;
  flex-grow: 0.5;
  margin-left: 5px;
}

#main-nav .search input {
  width: 100%;
  padding: 0.25rem;
  border-radius: 3px;
  border: 2px solid var(--text-color);
  padding-left: 45px;
  font-size: 1.3rem;
  background: var(--canvas-color);
}

#main-nav .search input:focus {
  outline: none;
}

#main-nav .search i {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 1.3rem;
  z-index: 1;
  color: #333;
}

#main-nav .list {
  display: flex;
}

#main-nav .list li:last-child {
  position: relative;
}

#main-nav .list > li {
  padding: 0 0.35rem;
}

#main-nav .list .signup:hover{
  opacity: 0.6;
}

#main-nav .list .user {
  border: 1px solid var(--primary-color);
}

#main-nav .list .user:hover {
  border: 1px solid var(--border-color);
}

#main-nav .list .user i {
  margin-left: 5px;
}

#main-nav .list li:last-child a {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Trends */
#trends .box-trend-wrapper {
  display: flex;
  justify-content: space-between;
}

#trends .box-trend {
  color: #000;
}

/* Popular posts */

/* Controls */
.controls {
  padding: 0.75rem;
  background: var(--primary-color);
  border: 1px solid var(--post-border-color);
  border-radius: 5px;
}


.controls {
  display: flex;
  justify-content: space-between;
}

.controls > ul {
  display: flex;
}

.controls .dropdown {
  top: 47px;
  right: -12px;
}

.controls ul:last-child li:last-child {
  display: none;
}

.controls ul:last-child li:last-child {
  position: relative;
}

.controls > ul > li {
  margin-left: 5px;
}

/* Posts */
a.community, a.posted-by {
  border-bottom: 1px transparent solid;
  transition: border-bottom 0.15s ease;
}

a.community:hover, a.posted-by:hover {
  border-bottom: 1px solid var(--text-color);
}

a.comments-link:hover {
  background-color: #f4f4f4;
}

/* post-card && post-classic && post-compact */
.post-card,
.post-classic,
.post-compact {
  display: grid;
  grid-template-columns: 6% 94%;
  margin-bottom: 40px;
}

.post-card .rating,
.post-classic .rating,
.post-compact .rating {
  padding-top: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-card .post-content .post-info p,
.post-classic .post-content .post-info p, 
.post-compact .post-content .post-info p {
  margin-left: 5px;
  font-size: 0.75rem;
}

.post-card .post-content .post-info p:first-child,
.post-classic .post-content .post-info p:first-child,
.post-compact .post-content .post-info p:first-child {
  margin-left: 0;
  padding-right: 0.5rem;
}

.post-card .post-content img,
.post-classic .post-content img,
.post-compact .post-content img {
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

.post-card .post-content .comments i, 
.post-card .post-content .comments a,
.post-classic .post-content .comments i, 
.post-classic .post-content .comments a,
.post-compact .post-content .comments i, 
.post-compact .post-content .comments a {
  font-size: 0.75rem;
}

.post-card .post-content .comments a,
.post-classic .post-content .comments a,
.post-compact .post-content .comments a {
  padding: 0.25rem;
  transition: background-color 0.15s ease;
}

.post-card .post-content .comments p,
.post-classic .post-content .comments p,
.post-compact .post-content .comments p {
  margin-left: 5px;
}

.post-classic .post-content .comments,
.post-compact .post-content .comments {
  display: flex;
  align-self: end;
}

.post-classic .post-content .post-info,
.post-compact .post-content .post-info {
  grid-area: info;
}

.post-classic .post-content .post-title,
.post-compact .post-content .post-title {
  grid-area: title;
}

.post-classic .post-content .comments,
.post-compact .post-content .comments {
  grid-area: comments;
}

.post-classic .post-content,
.post-compact .post-content {
  grid-gap: 5px;
}

/* Post card */
.controls .btn-blue {
  border: 1px solid var(--text-color);
}

.post-card .post-content .post-info {
  display: flex;
  padding: 5px 0 0 0.75rem;
}

.post-card .post-content .post-title {
  padding: 0 0.75rem;
  margin-bottom: 20px;
}

.post-card .post-content .comments {
  padding: 0.75rem;
  display: flex;
  align-items: center;
}

/* Post classic */
.post-classic {
  margin-bottom: 10px;
}

.post-classic .rating {
  justify-content: center;
}

.post-classic .rating {
  padding: 0.50rem 0;
}

.post-classic .post-content {
  padding: 0.25rem;
}

.post-classic .post-content img {
  grid-area: img;
  align-self: start;
  padding-top: 5px;
}

.post-classic .post-content .post-title {
  padding-right: 0.75rem;
}

.post-classic .post-content .post-info {
  display: flex;
}

.post-classic .post-content {
  display: grid;
  grid-template-columns: 0.5fr repeat(4, 1fr);
  grid-template-areas:
  "img info info info info"
  "img title title title title"
  "img comments comments comments comments";
}

/* Post compact */
.post-compact .post-content {
  display: grid;
  grid-template-areas:
  "info"
  "title"
  "comments";
}

.post-compact .post-content {
  padding: 5px 0 5px 10px;
}
.post-compact .post-content img {
  display: none;
}

.post-compact .rating {
  padding: 0.25rem;
  justify-content: center;
}

.post-compact {
  margin-bottom: 5px;
}

.post-compact .post-content .post-title {
  padding-right: 0.75rem;
}

/* blog.html page */

/* Navbar */
#blog-canvas {
  background-color: #333;
}

#blog-canvas .container {
  padding: 0;
  max-width: var(--blog-canvas-width);
  width: 100%;
}

#second-nav {
  position: sticky;
  top: 70px;
  display: flex;
  justify-content: flex-end;
  background: #000;
  padding: 0.3rem;
  max-width: var(--blog-canvas-width);
  margin:auto;
  z-index: 1;
}

#second-nav .btn {
  color: #fff;
  border-color: #fff;
}

#main-section {
  padding: 1rem 3rem 1rem 3rem;
  background-color: #efefef;
  min-height: 85.2vh;
  display: flex;
  grid-gap: 20px;
  align-items: flex-start;
}

#main-section .box {
  background-color: #fff;
}

#main-section > .box:first-child {
  padding: 0;
}

/* community section */
#main-section aside {
  flex: 1;
  overflow: auto;
  padding: 1rem;
  margin-left: 20px;
  min-width: 300px;
  border: 1px solid var(--post-border-color);
}

#main-section aside .community-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#main-section aside .community-header span {
  margin-left: 5px;
}

#main-section aside .community-description {
  margin-bottom: 10px
}

#main-section aside .community-description p {
  font-size: 1rem;
}

#main-section aside .members {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#main-section aside .creation {
  margin-bottom: 10px;
}

#main-section aside .btn {
  display: block;
  text-align: center;
  background: var(--text-color);
  color: #fff;
}

#main-section aside .btn:hover {
  background: #fff;
  color: var(--text-color)
}

/* post section */
#main-section > div:first-child {
  flex:3;
  align-self: stretch;
}

#main-section .post-card {
  border: none;
  cursor: default;
}

#main-section .rating {
  background-color: var(--primary-color);
}

#main-section > .box:first-child .line {
  width: 95%;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 30px;
}

#main-section .post-wrapper .post-text {
  padding: 0 0.75rem;
  margin-bottom: 20px;
  font-size: 1.1rem;
  line-height: 1.5;
}

#main-section .post-wrapper .post-title {
  margin-bottom: 10px;
}


#main-section .box {
  border: 1px solid var(--post-border-color);
}

/* Comments */

.add-comment {
  position: relative;
  margin-bottom: 50px;
}

#comment-input {
  width: 95%;
  min-height: 200px;
  font-size: 1.3rem;
  padding: 0.75rem 0 0 0.75rem;
  border: 1px solid var(--post-border-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 3px;
  resize: vertical;
}

#comment-input:focus {
  outline: none;
  border: 1px solid var(--text-color);
}

.comment-header {
  font-size: 0.75rem;
  display: flex;
}

.comment-header .commented-hours-ago {
  margin-left: 3px;
}

.add-comment .control-panel {
  display: flex;
  width: 95%;
  background: #eee;
  position: absolute;
  bottom: -32px;
  padding: 0.25rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
  justify-content: flex-end;
  border-left: 1px solid var(--post-border-color);
  border-right: 1px solid var(--post-border-color);
  border-bottom: 1px solid var(--post-border-color);
}



#comment-input:focus + div {
  border-color: var(--text-color);
}

.add-comment .control-panel .btn {
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

.post-comments .comment.box {
  width: 95%;
  padding: 0.5rem;
  margin-bottom: 20px;
}

.comment-content p {
  font-size: 1rem;
}


/* add-post.html */
#post-creation {
  background-color: var(--canvas-color);
  min-height: 89.9vh;
}

#post-creation .community-choice {
  position: relative;
  width: 305px;
}

#post-creation .community-choice > div:first-child {
  display: inline-block;
  position: relative;
}

#post-creation .community-choice div > input {
  padding: 0.5rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  min-width: 300px;
  font-size: 1.3rem;
  margin-bottom: 10px;
  border: 1px solid var(--post-border-color);
  border-radius: 3px;
}

#post-creation .community-choice div > input:focus {
  outline: none;
  border-color: var(--text-color)
}

#post-creation .community-choice .fa-search {
  position: absolute;
  top:13px;
  left: 7px;
}

#post-creation .community-choice > div > a {
  position: absolute;
  top:13px;
  right: 7px;
}

#post-creation .community-list {
  position: absolute;
  top: 42px;
  right: 0;
  display: inline-block;
  background-color: var(--primary-color);
  min-width: 305px;
}

#post-creation .community-list > li {
  width: 100%;
  height: 100%;
}

#post-creation .community-list > li > a > p {
  margin-left: 5px;
}

#post-creation .community-list > li > a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

#post-creation .community-list > li > a:hover {
  background-color: #f4f4f4;
}

#add-post-form {
  background-color: #fff;
  padding: 2rem;
  border: 1px solid var(--post-border-color);
  border-radius: 3px;
}

#add-post-form .contol-panel {
  display: flex;
  justify-content: space-between;
}

#add-post-form .contol-panel > ul {
  display: flex;
}

#add-post-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid var(--post-border-color);
  padding: 0.75rem;
  font-size: 1.3rem;
  overflow:hidden;
}

#add-post-form textarea:focus {
  outline: none;
  border-color: var(--text-color);
}

#add-post-form > textarea:first-child {
  resize: none;
  height: 45px;
}

#add-post-form >textarea:nth-child(2) {
  resize: vertical;
  min-height: 250px;
}

/* Profile Page*/
#main-profile {
  min-height: 89.9vh;
}

#main-profile .box {
  padding: 1rem;
  background-color: #fff;
}

#main-profile .profile-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* profile */
#main-profile .btn:hover {
  border-color:var(--text-color);
  background: var(--primary-color);
  color: var(--text-color);
}

#main-profile .profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}


#main-profile .profile .profile-image-wrapper {
  position: relative;
  display: inline-block; 
}

#main-profile .profile .profile-image-wrapper form {
  display: inline-block;
  
}

#main-profile .profile .profile-image-wrapper form {
  position: absolute;
  bottom: 0;
  right: 0;
}

#main-profile .profile .profile-image-wrapper form label {
  padding: 0.5rem;
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius:50%;
  background: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
}

#main-profile .profile .profile-image-wrapper form label:hover {
  color: var(--success-color);
  border-color: var(--success-color);
}

#main-profile .profile .profile-image-wrapper form button:focus {
  outline: none;
}

#main-profile .profile-header .profile {
  flex: 1;
}

#main-profile .profile-header .profile .profile-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


#main-profile .profile-header .profile .profile-image-container .registered-date {
  text-align: right;
  font-size: 0.9rem;
}

#main-profile .profile-header .profile .btn {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.85rem;
  padding: 0.6rem;
}

/* Communities */
#main-profile .profile-header .communities {
  flex: 2;
}

#main-profile .profile-header .communities ul {
  margin-bottom: 20px;
}

#main-profile .profile-header .communities ul > li {
  border-bottom: 1px solid var(--post-border-color);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-profile .profile-header .communities ul > li .btn:last-child {
  padding: 0.25rem 1rem;
  transition: all 0.4s ease;
}

#main-profile .profile-header .communities ul > li .btn:last-child:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}

#main-profile .profile-header .communities ul > li a {
  display: inline-flex;
  align-items: center;
  transition: all 1s ease;
}

#main-profile .profile-header .communities ul > li a > p {
  border-bottom: 1px solid transparent;
}

#main-profile .profile-header .communities ul > li a:hover p {
  border-bottom: 1px solid #333;
}

#main-profile .profile-header .communities ul > li a > p {
  margin-left: 10px;
}

#main-profile .profile-header .communities .btn {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.85rem;
  padding: 0.6rem;
}

/* Communities page */
#main-communities {
  min-height: 89.9vh;
}

#main-communities .title {
  text-align: center;
  font-size: 2rem;
}

#main-communities .box {
  background: #fff;
}

#main-communities .communities-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

#main-communities .communities-list > li:not(:last-child) {
  border-bottom: 1px solid var(--post-border-color);
}

#main-communities .communities-list > li a:not(.join) {
  display: flex;
  align-items: center;
}

#main-communities .communities-list > li a:not(.join) p {
  margin-left: 10px;
}

#main-communities .communities-list > li a:not(.join) p {
  border-bottom: 1px solid transparent;
}

#main-communities .communities-list > li a:not(.join):hover p {
  border-color: var(--text-color);
}

#main-communities .communities-list > li a.join {
  padding: 0.25rem 1rem;
}

#main-communities .communities-list > li a.join:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}

/* Community page */
#main-community {
  min-height: 89.9vh;
}

#main-community header {
  background: #fff;
  position: relative;
}

#main-community header .container {
  padding-top:115px;
  background: transparent;
  position: relative;
  padding-bottom: 1rem;
}

#main-community .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-community .content-wrapper > div {
  display: flex;
  align-items: center;
}

#main-community .content-wrapper > .btn {
  padding: 0.25rem 1rem;
}

#main-community .content-wrapper > .btn:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}

#main-community .content-wrapper > div img {
  border: 3px solid var(--canvas-color);
}

#main-community .content-wrapper > div .community-name {
  margin-left: 10px;
}

#main-community header .top-image {
  height: 60%;
  width: 100%;
  background: url("../img/huge.jpg") no-repeat bottom center/cover;
  position: absolute;
  z-index: 0;
}

#community-content .container {
  padding-top: 20px;
}

/* Login Form / Sign up Form */
.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control {
  position: relative;
  padding-bottom: 20px;
}

.form-control.success input {
  border-color: var(--success-color) !important;
}

.form-control.error input {
  border-color: var(--error-color) !important;
}

.form-control input:focus {
  outline: 0;
  border-color: var(--post-border-color);
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control.error small {
  visibility: visible;
}

#login, #signup {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 200;
  top: 0;
  background-color: rgba(0,0,0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#login .content-wrapper, #signup .content-wrapper {
  background: #fff;
  display: grid;
  grid-template-columns: 20% 75% 5%;
  max-width: 90%;
  width: 600px;
  border-radius: 10px;
  animation-name: popup;
  animation-duration: var(--popup-duration);
}

#login .content-wrapper .background-image,
#signup .content-wrapper .background-image {
  background: url("../img/post.jpg") no-repeat center center;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#login a i,
#signup a i {
  color: var(--text-color);
}

#login .content-wrapper > a,
#signup .content-wrapper > a {
  padding: 0.15rem;
  justify-self: end;
  align-self: start;
}

#login .content-wrapper > a i,
#signup .content-wrapper > a i {
  font-size: 2rem;
}

#login-form,
#signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1rem 0 1rem 1rem;
}

#login-form .form-control,
#signup-form .form-control {
  width: 100%;
}

#login-form input, #signup-form input {
  font-size: 1.2rem;
  padding: 0.75rem;
  border-radius: 3px;
  border: 2px solid var(--post-border-color);
  width: 90%;
}

#login-form > p,
#signup-form > p {
  font-size: 0.85rem;
}

#login-form > p a,
#signup-form > p a {
  color: var(--blue);
  text-transform: uppercase;
}

#login-form button,
#signup-form button {
  width: 90%;
  height: 50px;
  margin-top: 10px;
}

#login-form button:hover,
#signup-form button:hover {
  opacity: 0.8;
}


/* Footer */
#main-footer {
  padding: 0.25rem;
  font-size: 0.7rem;
  text-align: center;
  color: var(--primary-color);
  background-color: #000;
}

/* Key frames */
@keyframes popup {
  from{opacity: 0;}
  to{opacity: 1;}
}