<div class="controls mb-20">
  <ul>
    <li><a href="#" class="hot btn btn-orange"><i class="fas fa-fire"></i> Hot</a></li>
    <li><a href="#" class="new btn btn-blue"><i class="fa fa-cog"></i> New</a></li>
  </ul>

  <ul>
    <li><a href="" class="btn card current">Card</a></li>
    <li><a href="" class="btn classic">Classic</a></li>
    <li><a href="" class="btn compact">Compact</a></li>
    <li>
      <a href="" class="btn grid-type">
        <i class="fa fa-arrow-down"></i>
      </a>

      <div class="dropdown no-display">
        <ul>
          <li><a href="#" class="card">Card</a></li>
          <li><a href="#" class="classic">Classic</a></li>
          <li><a href="#" class="compact">Compact</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>