<div class="post-wrapper post-card">
  <div class="rating">
    <i class="fa fa-arrow-up"></i>
    <p class="rating-quantity">3.3k</p>
    <i class="fa fa-arrow-down"></i>
  </div>

  <div class="post-content">
    <div class="post-info">
      <p><a href="/community" class="community bold">y/gaming</a> Posted by <a href="/profile"
          class="posted-by">Yarepka</span> </a> <span class="hours-ago">21
          hours ago</span>
    </div>

    <h3 class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident tenetur quidem
      obcaecati doloremque, necessitatibus a, quis doloribus eum libero eligendi eaque reprehenderit aut ad
      quibusdam esse inventore? Dignissimos earum temporibus possimus asperiores!</h3>

    <img src="https://picsum.photos/700/700?random">

    <div class="comments">
      <a class="comments-link" href="/blog">
        <i class="fas fa-comment-alt"></i>
        <span class="comments-quantity">2.2k Comments</span>
      </a>

      <p class="comments-quantity"></p>
    </div>
  </div>
</div>