<!-- Login Form -->
<section id="login" class="no-display">
  <div class="content-wrapper">
    <div class="background-image"></div>
    <form id="login-form">
      <img src="./img/logo_big.png" class="mb-20">
      <h2 class="mb-20">Sign In</h2>
      <div class="form-control">
        <input id="login-email" type="text" placeholder="Enter email">
        <small>Error</small>
      </div>

      <div class="form-control">
        <input type="password" id="login-password" placeholder="Enter pasword">
        <small>Error</small>
      </div>

      <button type="submit" class="btn btn-blue mb-10">Sign In</button>

      <p>New to Yarepka? <a href="#" id="signup-redirect">Sign Up</a></p>
    </form>
    <a href="#" id="close-login"><i class="far fa-times-circle"></i></a>
  </div>
</section>

<!-- Sign Up Form -->
<section id="signup" class="no-display">
  <div class="content-wrapper">
    <div class="background-image"></div>
    <form id="signup-form">
      <img src="./img/logo_big.png" class="mb-20">
      <h2 class="mb-20">Sign Up</h2>
      <div class="form-control">
        <input type="text" id="signup-email" placeholder="Enter email">
        <small>Error</small>
      </div>

      <div class="form-control">
        <input type="password" id="signup-password" placeholder="Enter password">
        <small>Error</small>
      </div>

      <div class="form-control">
        <input type="password" id="signup-confirm-password" placeholder="Confirm password">
        <small>Error</small>
      </div>

      <button type="submit" class="btn btn-blue mb-10">Sign Up</button>

      <p>Already Yarepka user? <a href="#" id="login-redirect">Login</a></p>
    </form>
    <a href="#" id="close-signup"><i class="far fa-times-circle"></i></a>
  </div>
</section>