<!-- Navbar -->
<nav id="main-nav">
  <div class="logo-wrapper">
    <img class="logo" src="./img/logo.png">
  </div>

  <div class="search">
    <i class="fas fa-search"></i>
    <input type="text" id="search">
  </div>

  <ul class="list">
    <% if(!login) { %>
    <li><a class="btn login">Log In</a></li>
    <li><a class="btn btn-blue signup">Sign Up</a></li>
    <% } %>

    <li>
      <a class="btn user">
        <i class="fas fa-user"></i> <i class="fa fa-arrow-down"></i>
      </a>
      <div class="dropdown no-display">
        <ul>
          <% if(login) { %>
          <li><a href="/user/profile"><i class="fas fa-user-circle"></i>My Profile</a></li>
          <li><a id="logout"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
          <% } else { %>
          <li><a><i class="fas fa-sign-in-alt"></i>Log In / Sign Up</a></li>
          <% } %>
        </ul>
      </div>
    </li>
  </ul>
</nav>