<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Not Found</title>
</head>

<body>
  <section>
    <h1>Page Not Found</h1>
    <a class="btn" href="/">Home</a>
  </section>
</body>

</html>